<div class="timeline">

	<div class="element" *ngFor="let play of plays" [ngStyle]="getTopFromManches(play.manches)">
		{{ play.mapString }}

		<div class="round">
			{{ play.manches }}
		</div>
	</div>
</div>


<div>Moyenne de manches par partie : {{ moyManchesByGame }}</div>
<div>Map la plus jouée : {{ mapMorePlayed.name }} ({{ mapMorePlayed.count }} fois)</div>

<div *ngFor="let i of playersName">
	<h2>{{ i }}</h2>
	<div>Nombre de morts moyen par partie : {{ players[i].moyDeaths }}</div>
	<div>Nombre de kills moyen par partie : {{ players[i].moyKills }}</div>
	<div>Nombre de headshots moyen par partie : {{ players[i].moyHeadshots }}</div>
	<div>Nombre de réanimations moyen par partie : {{ players[i].moyRea }}</div>

	<div>Maximum de morts en une partie : {{ players[i].maxDeaths }}</div>
	<div>Maximum de kills en une partie : {{ players[i].maxKills }}</div>
	<div>Maximum de headshots en une partie : {{ players[i].maxHeadshots }}</div>
	<div>Maximum de réanimations en une partie : {{ players[i].maxRea }}</div>
</div>

<a routerLink="/plays">Ajouter une partie</a>
